POSTGRES_IMAGE=postgres:17-alpine
POSTGRES_USER=gopricemon
POSTGRES_PASSWORD=change-me
POSTGRES_DB=gopricemon
POSTGRES_PORT=5432
DATABASE_URL=postgres://gopricemon:change-me@postgres:5432/gopricemon?sslmode=disable
HTTP_PORT=8082
DEALMANAGER_API_BASE_URL=http://dealmanager:8083
ADMIN_PASSWORD=change-me
GIN_MODE=release
DEALMANAGER_DATABASE_URL=postgres://gopricemon:change-me@postgres:5432/dealmanager?sslmode=disable
DEALMANAGER_HTTP_PORT=8083
DEALMANAGER_EVENT_PROCESS_INTERVAL=1s
GOPRICEMON_API_BASE_URL=http://app:8082
